---
layout: default
title: Hírek
weight: 10
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>

  <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        {% assign m = post.date | date: "%-m" %}
        <span class="post-meta">{{ post.date | date: "%Y." }}&nbsp;{{ site.data.months.months[m] }}&nbsp;{{ post.date | date: "%-d." }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {{ post.content }}
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">[előző]</a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">oldalak: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">[következő]</a>
  {% else %}
    <span class="next "></span>
  {% endif %}
  </div>

</div>
