---
layout: default
title: Kurzusok
weight: 50
---

<div class="home">

  <h1 class="page-heading">{{ page.title }}</h1>
  
  <p>A készségfejlesztő kurzusok négy kategóriába sorolhatók:</p>

  <ol>
    <li>A kutatómunka hatékonyságát támogató kurzusok,</li>
    <li>A szakmai karriert támogató kurzusok</li>
    <li>Az oktatói feladatok ellátását támogató kurzusok,</li>
    <li>Az informatikai készségek magasabb szintre emelését támogató kurzusok.</li>
  </ol>

  <table class="table-hover">
    <tr>
      <th>Időpont</th>
      <th width="150">Helyszín</th>
      <th>Kurzus címe</th>
      <th width="200">Előadó(k)</th>
      <th>Kurzus&nbsp;kód</th>
      <th>Jelentkezés</th>
    </tr>
    {% assign lectures = site.lectures | sort: 'phdla' | sort: 'date' %}
    {% for lecture in lectures %}
      <tr>
        <td>
        {% assign m = lecture.date | date: "%-m" %}
        {% if lecture.date != "TBA" %}
        {{ lecture.date | date: "%Y." }}&nbsp;{{ site.data.months.months[m] }}&nbsp;{{ lecture.date | date: "%-d." }}{% endif %}<br />
        {% if lecture.starttime and lecture.starttime != "" %}{{ lecture.starttime }}–{{ lecture.endtime }}{% endif %}{% for additional_time in lecture.additional_times %}{% assign m2 = additional_time.date | date: "%-m" %}{% if additional_time.date %}, <br />
          {{ additional_time.date | date: "%Y." }}&nbsp;{{ site.data.months.months[m] }}&nbsp;{{ additional_time.date | date: "%-d." }}{% endif %}<br />
          {% if additional_time.starttime and additional_time.starttime != "" %}{{ additional_time.starttime }}–{{ additional_time.endtime }}{% endif %}
        {% endfor %}

        </td>
        <td>{% for location_line in lecture.location %}{{ location_line }}<br/>{% endfor %}</td>
        <td><a href="{{ lecture.url | prepend: site.baseurl }}">{{ lecture.title }}</a></td>
        <td>{{ lecture.lecturers | map: 'name' | join: ', <br/>' }}</td>
        <td>PHDLA{{ lecture.phdla }}</td>
        <td>{% if lecture.form %}<a href="http://goo.gl/forms/{{ lecture.form }}">jelentkezés</a>{% endif %}</td>
      </tr>
    {% endfor %}
  </table>

</div>
