---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">

    {{ content }}

    <h1>Előadó{% if page.lecturers.size > 1 %}k{% endif %}</h1>

    <ul>
    {% for lecturer in page.lecturers %}
      <li>
        <strong>{{ lecturer.name }}</strong><br/>
        {{ lecturer.title }} <br/>
        {{ lecturer.institute }}
      </li>
    {% endfor %}
    </ul>

    <h1>Adatok</h1>
  
    <div><strong>Kurzuskód:</strong> PHDLA{{ page.phdla }}</div>
    <div><strong>Időpont:</strong> 
        {% assign m = page.date | date: "%-m" %}
        {% if page.date != "TBA" %}
        {{ page.date | date: "%Y." }}&nbsp;{{ site.data.months.months[m] }}&nbsp;{{ page.date | date: "%-d." }}{% endif %},
        {% if page.starttime and page.starttime != "" %}{{ page.starttime }}–{{ page.endtime }}{% endif %}{% for additional_time in page.additional_times %}{% assign m2 = additional_time.date | date: "%-m" %}{% if additional_time.date %};
          {{ additional_time.date | date: "%Y." }}&nbsp;{{ site.data.months.months[m] }}&nbsp;{{ additional_time.date | date: "%-d." }}{% endif %}<br />
          {% if additional_time.starttime and additional_time.starttime != "" %}{{ additional_time.starttime }}–{{ additional_time.endtime }}{% endif %}
        {% endfor %}</div>
    <div><strong>Időtartam:</strong> {{ page.duration }}</div>
    <div><strong>Helyszín:</strong> {{ page | map: 'location' | join: ', ' }}</div>
    <div><strong>Mely doktori iskola részére:</strong> {{ page.schools }}</div>
    <div><strong>Résztvevők ajánlott száma:</strong> {{ page.participants }}</div>
    <div><strong>Kiknek ajánljuk:</strong> {{ page.audience }}</div>
  </article>

</div>
